---
title: Coming Soon
layout: page
---

<header class="masthead">
    <div class="homepage-cover">
        <div class="homepage-cover__container">
            <h1>Shotbud</h1>
            <h3>Shot Timer for Apple&nbsp;Watch</h3>
        </div>
    </div>
</header>

<div class="container-body">

    <div class="intro-text">
        <h3>Shotbud is an app designed for competitive&nbsp;shooters. Using&nbsp;the sensors in Apple&nbsp;Watch, Shotbud&nbsp;can detect your shots and track your performance during live or&nbsp;dry&nbsp;fire.</h3>
        <div class="intro-text__app-store">{% img coming-soon.svg %}</div>
    </div>

    <div class="hero-features" id="features">

        <div class="hero-feature hero-feature--row-1">
            <div class="hero-feature__left hero-feature--image-a">
                <div class="hero-phone-a skrollable-desktop" data--10p-bottom-top="transform: translateY(20px); opacity: 0.8" data--30p-bottom-top="transform: translateY(0px); opacity:
                1">{% img hero-phone-a@2x.png %}</div>
                <div class="hero-watch-a skrollable-desktop" data--10p-bottom-top="transform: translateY(20px); opacity: 0.8" data--30p-bottom-top="transform: translateY(0px); opacity:
                1">{% img hero-watch-a@2x.png %}</div>
            </div>
            <div class="hero-feature__right">
                <h3 class="skrollable-desktop" data--10p-bottom-top="transform: translateY(5px); opacity: 0.4" data--30p-bottom-top="transform: translateY(0px);
                opacity: 1">Motion + audio detection</h3>
                <h2 class="skrollable-desktop" data--10p-bottom-top="transform: translateY(10px); opacity: 0.4" data--30p-bottom-top="transform: translateY(0px);
                opacity: 1">Accurate shot and split&nbsp;time detection</h2>
            </div>
        </div>
        <div class="hero-feature hero-feature--row-2">
            <div class="hero-feature__right hero-feature--image-b">
                <div class="hero-bullet-b skrollable-desktop" data--10p-bottom-top="transform: translateY(10px); opacity: 0.8" data--30p-bottom-top="transform: translateY(0px);
                opacity: 1">{% img hero-bullet-b@2x.png %}</div>
                <div class="hero-watch-b skrollable-desktop" data--10p-bottom-top="transform: translateY(20px); opacity: 0.8" data--30p-bottom-top="transform: translateY(0px);
                opacity: 1">{% img hero-watch-b@2x.png %}</div>
            </div>
            <div class="hero-feature__left">
                <h3 class="skrollable-desktop" data--10p-bottom-top="transform: translateY(5px); opacity: 0.4" data--30p-bottom-top="transform: translateY(0px);
                opacity: 1">Practice in more places</h3>
                <h2 class="skrollable-desktop" data--10p-bottom-top="transform: translateY(10px); opacity: 0.4" data--30p-bottom-top="transform: translateY(0px);
                opacity: 1">Choose Live or Dry&nbsp;Fire</h2>
            </div>
        </div>
        <div class="hero-feature hero-feature--row-3">
            <div class="hero-feature__left hero-feature--image-c">
                <div class="hero-phone-c skrollable-desktop" data--10p-bottom-top="transform: translateY(20px); opacity: 0.8" data--30p-bottom-top="transform: translateY(0px);
                opacity: 1">{% img hero-phone-c@2x.png %}</div>
                <div class="hero-watch-c skrollable-desktop" data--10p-bottom-top="transform: translateY(20px); opacity: 0.8" data--30p-bottom-top="transform: translateY(0px);
                opacity: 1">{% img hero-watch-c@2x.png %}</div>
            </div>
            <div class="hero-feature__right">
                <h3 class="skrollable-desktop" data--10p-bottom-top="transform: translateY(5px); opacity: 0.4" data--30p-bottom-top="transform: translateY(0px);
                opacity: 1">The Gun Wall</h3>
                <h2 class="skrollable-desktop" data--10p-bottom-top="transform: translateY(10px); opacity: 0.4" data--30p-bottom-top="transform: translateY(0px);
                opacity: 1">Catalog and track your&nbsp;sessions</h2>
            </div>
        </div>
        
    </div>

     {% include additional-features.html %}

</div>

{% include download-cta.html %}

{% include call-to-action.html %}

{% include faq.html %}