h3 {
  color: $accent-color-1;
}

.masthead {
  width: 100%;
  margin-top: 0px;
  padding: 0px;
  height: 70vh;
  min-height: 420px;
  max-height: 500px;

  @include breakpoint(small) {
    height: 70vh;
    min-height: 700px;
    max-height: 700px;
  }

  @include breakpoint(medium) {
    height: 80vh;
    min-height: 980px;
    max-height: 980px;
  }
}

.homepage-cover {
  width: 100%;
  height: 980px;
  margin-top: 0px;
  max-width: none;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url(asset_path("hero--shotbud-intro@2x.jpg"));
  background-position: top;
  background-size: 115%;
  background-repeat: no-repeat;

  @include breakpoint(small) {
    background-size: contain;
  }

  &__container {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: 0px auto;

    h1 {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      line-height: 1em;
      margin-top: 1.5em;
      margin-bottom: 0px;
      padding-bottom: 0px;

      @include breakpoint(small) {
        margin-top: 1.6em;
        font-size: 5em;
      }

      @include breakpoint(medium) {
        margin-top: 1em;
        @include responsive-font-size(xxxlarge);
        line-height: 1em;
      }

      @include breakpoint(large) {
        margin-top: 1em;
      }
    }

    h3 {
      margin-top: 0.70em;
      padding-top: 0px;
      line-height: 1em;
      text-align: center;
      margin-right: 0.6em;

      @include breakpoint(small) {
        margin-top: 1em;
      }
    }

  }

}

.intro-text {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;

  h3 {
    @include font-size(large);
    color: $white;
    text-align: center;
    line-height: 2.5em;

    @include breakpoint(medium) {
      @include responsive-font-size(xlarge);
      line-height: 2em;
    }
  }
}
