.homepage-cover {
  width: 100%;
  height: 100vh;
  margin-top: 0px;
  max-width: none;
  min-width: none;
  min-height: 460px;
  max-height: 960px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url(asset_path("hero--shotbud-intro@2x.jpg"));
  //background-attachment: fixed;
  background-position: center;
  background-size: cover;

  @include breakpoint(medium) {
    height: 100vh;
  }
}
