a {
    &:hover {
        text-decoration: $link-hover-decoration;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    letter-spacing: 0.04em;
}

h1 {
    @include responsive-font-size(xxxlarge);
    line-height: $headings-line-height;
    padding-top: $headings-margin-top;
}

h2 {
    @include responsive-font-size(xxlarge);
    line-height: $headings-line-height;
    padding-top: $headings-margin-top;
    border-top: 1px solid darken($gray-light, 3%);
    margin-top: $headings-margin-top;
}

h3 {
    @include responsive-font-size(xlarge);
    line-height: $headings-line-height;
    padding-top: $headings-margin-top;
    font-family: Circular-Book; 
}
h4 {
    @include font-size(large);
    line-height: $headings-line-height;
    padding-top: $headings-margin-top;
}

h5 {
    @include font-size(large);
    line-height: $headings-line-height;
    padding-top: $headings-margin-top;
}

h6 {
    @include font-size(medium);
    line-height: $headings-line-height;
    padding-top: $headings-margin-top;
}

.text-pink {
    color: $pink;
}
.text-purple {
    color: $purple;
}
.text-teal {
    color: $teal;
}
.text-blue {
    color: $blue;
}
.text-bold {
    font-weight: 600;
}
.text-muted {
    color: $gray-dark;
}