//
//  New Colors
//
$gray-xdark: #2B2C30;
$orange: #FE9983;
$teal: #45CCB0;
$gunmetal: #898E9B;
$gray-xlight: #F6F6F6;
$gray: #B7B7B7;

//
//  Old Codebase Colors
//
$black: #000000;
$gray-dark: $gunmetal;
$gray-light: #F2F2F2;
$white: #FFFFFF;

$green: #409D56;
$green-light: #66A86F;
$lime-green: #8BC052;
$purple: #6744B1;
$blue: #4D5DA0;
$pink: #DD0E39;

//
//  Breakpoints
//
$breakpoints: (
    'small':  480px,
    'medium': 640px,
    'large':  1024px,
    'xlarge':  1280px
);

$container-max-width: 1440px;


//
//  Element styles and colors
//
$background-color-dark: $gray-xdark;
$accent-color-1: $orange;
$accent-color-2: $teal;
$caption-color: $gunmetal;
$backrgound-color-light: $gray-xlight;

$nav-color: transparentize($background-color-dark, 0.1);

$body-color: $white;
$body-bg: $background-color-dark;
$text-muted: $caption-color;

$discourse-color: #7289DA;

$link-color: $accent-color-1;
$link-hover-color: lighten($accent-color-1, 5);
$link-decoration: none;
$link-hover-decoration: underline;

//
//  Typography
//

@font-face {
    font-family: Circular-Book;
    src: url(asset_path("CircularStd-Book.otf"));
}
@font-face {
    font-family: Circular-Bold;
    src: url(asset_path("CircularStd-Bold.otf"));
}

$font-family-base: 'Circular-Book', sans-serif;
$font-size-base: 14px;
$font-weight-base: 400;
$line-height-base: 1.75em;

$font-sizes-base: (
    'xsmall': 0.75em,
    'small': 0.85em,
    'medium': 0.9em,
    'large': 1.0em,
    'xlarge': 1.5em,
    'xxlarge': 1.8em,
    'xxxlarge': 2em,
);
$font-sizes-medium: (
    'xsmall': 0.75em,
    'small': 0.85em,
    'medium': 1em,
    'large': 1.14em,
    'xlarge': 1.5em,
    'xxlarge': 2.14em,
    'xxxlarge': 2.85em,
);
$font-sizes-large: (
    'xsmall': 0.8em,
    'small': 0.9em,
    'medium': 1em,
    'large': 1.14em,
    'xlarge': 1.7em,
    'xxlarge': 2.24em,
    'xxxlarge': 2.95em,
);


$headings-font-family: 'Circular-Bold', sans-serif;
$headings-font-weight: 700;
$headings-line-height: 1.25em;
$headings-margin-bottom: 1.2em;
$headings-margin-top: 1.4em;
$paragraph-margin-bottom: 1.4em;

$table-cell-padding: 0.5em;
$dt-font-weight: 600;
