.download-cta {
    float: left;
    width: 100%;
    background-color: $white;
    padding: 40px 0px 40px 0px;
    display: flex;
    align-items: center;

    @include breakpoint (medium) {
        padding: 20px 0px 20px 0px;
        height: 200px;
    }

    &__container {
        margin: 0px auto;
        max-width: 960px;
        width: 85%;

        @include breakpoint(medium){
            width: 90%;
        }

        @include breakpoint(large){
            width: 70%;
        }
    }
    
    &__left {
        margin: 0px auto;
        text-align: center;

        @include breakpoint (medium) {
            margin: 0px;
            float: left;
        }
    }

    &__right {
        margin: 0px auto;
        text-align: center;
        
        @include breakpoint (medium) {
            margin: 0px;
            float: right;
        }
    }

    &__text {
        display: inline-block;

        @include breakpoint(medium) {
            float: left;
            margin-left: 40px;
            text-align: left;
        }
    }

    &__app-icon {
        
        @include breakpoint (medium){
            float: left;
        }

        img {
            width: 86px;
            height: 86px;

            @include breakpoint (medium) {
                width: 120px;
                height: 120px;
            }
        }
        
    }

    &__app-store {
        margin-top: 30px;

        img {
            width: 180px;
            height: 60px;
        }
    }

    h2 {
            color: $black;
            margin-bottom: 0px;
            margin-top: 25px;
            padding-top: 0px;
            padding-bottom: 0px;

            @include breakpoint(medium) {
                margin-top: 10px;
            }

            @include breakpoint(large) {
                margin-top: 0px;
            }
        }

    h3 {
        color: $accent-color-1;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

}