.faq {
    float: left;
    width: 100%;
    background-color: $background-color-light;
    padding: 50px 0px 50px 0px;
    display: flex;
    align-items: center;

    @include breakpoint (medium) {
        padding: 80px 0px 80px 0px;
    }

    h3 {
        color: $black;
        text-align: center;
    }

    &__container {
        margin: 0px auto;
        max-width: 960px;
        width: 85%;

        @include breakpoint(medium){
            width: 90%;
        }

        @include breakpoint(large){
            width: 70%;
        }
    }

    &__questions {
        margin-top: 60px;
        margin-bottom: 60px;
        color: $black;

        @include breakpoint(medium) {
            margin-top: 80px;
            margin-bottom: 80px;
        }
    }

    &__question {
        margin-bottom: 40px;

        &__show {
            display: inline-block;
        }

        &__text {
            display: inline-block;
            margin-left: 24px;

            @include breakpoint(medium) {
                margin-left: 36px;
            }
        }

        &__answer {
            display: block;
            background-color: $white;
            margin: 30px 18px 30px 18px;
            padding: 20px;

            @include breakpoint(medium) {
                margin: 30px 66px 30px 66px;
            }
        }
    }
}