.faq {
    float: left;
    width: 100%;
    background-color: $background-color-light;
    padding: 60px 0px 60px 0px;
    display: flex;
    align-items: center;

    @include breakpoint (medium) {
        padding: 70px 0px 70px 0px;
    }

    @include breakpoint (large) {
        padding: 100px 0px 80px 0px;
    }

    h3 {
        color: $black;
        text-align: center;
        margin-bottom: 4em;
    }

    &__container {
        margin: 0px auto;
        max-width: 960px;
        width: 95%;

        @include breakpoint(medium){
            width: 90%;
        }

        @include breakpoint(large){
            width: 70%;
        }
    }

    &__questions {
        margin: 60px 0px 60px 0px;
        color: $black;

        @include breakpoint(medium) {
            margin-top: 80px;
            margin-bottom: 80px;
        }
    }

    &__item {
        margin: 0px 0px 40px 0px;

        &__question {
           display: flex;
            align-items: center; 
        }

        &__show {
            width: 36px;
            height: 36px;

            img {
                width: 36px;
                height: 36px;
            }
        }

        &__text {
            padding-left: 24px;

            @include breakpoint(medium) {
                padding-left: 30px;
            }
        }

        &__answer {
            display: block;
            background-color: $white;
            margin: 30px 18px 40px 18px;
            padding: 20px;

            @include breakpoint(medium) {
                margin: 30px 66px 50px 66px;
            }
        }
    }
}