---
---
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />	

	{% if page.no_index == true or layout.no_index == true %}
	<meta name="robots" content="noindex, follow">
	{% endif %}

	{% seo %}
	
	<link rel="apple-touch-icon" sizes="180x180" href="{% asset_path favicon/apple-touch-icon.png %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% asset_path favicon/favicon-32x32.png %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% asset_path favicon/favicon-16x16.png %}">
	<link rel="mask-icon" href="{% asset_path favicon/safari-pinned-tab.svg %}" color="#000000">
	<link rel="shortcut icon" href="{% asset_path favicon/favicon.ico %}">
	<meta name="apple-mobile-web-app-title" content="Shotbud">
	<meta name="application-name" content="Shotbud">
	<meta name="theme-color" content="#000000">

	<!-- App Styles -->
	{% css main %}

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body class="
	{% if page.is_post %}post{% endif %}
	{{ page.url | slugify }}
	{% if page.body_class %}{{page.body_class}}{% endif %}
	{% if layout.body_class %}{{layout.body_class}}{% endif %}
">
	
	{{ content }}

	<!-- App JS -->
	{% js main %}

	<!-- skrollr for parallax -->

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
	<script type="text/javascript">
		var s = skrollr.init();
	</script>

</body>
</html>
