<div class="head">
    <div class="head__fixture">

        <div class="head__content">

            <div class="head__logo">
                <a href="{{ '/' | prepend:site.baseurl }}">{% img logomark.svg alt="Shotbud Logo" %}</a>
                {% include nav.html %}
            </div>

            {% include nav-button.html %}

            <div class="head__coming-soon">
                <a href="{{ '/' | prepend:site.baseurl }}">{% img coming-soon.svg alt="Coming soon to the Apple App Store" %}</a>
            </div>
        </div>

    </div>
</div>
